@using Microsoft.AspNetCore.Identity
@using AppEmpresas.Models

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@if (signInManager.IsSignedIn(User))
{
  var currentUser = await userManager.GetUserAsync(User);
  
  var isAdmin = currentUser != null
    && await userManager.IsInRoleAsync(
      currentUser,
      Constants.AdministratorRole);

  if (isAdmin)
  {
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a asp-controller="ManageUsers"
          asp-action="Index">
          Manage Users
        </a>
      </li>
    </ul>
  }
}